Service References/ServiceReference1/WSH_DLL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PharmacyService_dll" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PharmacyService_dll" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogModelService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogModelService" nillable="true" type="tns:CatalogModelService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogModelService" nillable="true" type="tns:ArrayOfCatalogModelService" />
  <xs:complexType name="CatalogModelService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProducerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogModelService" nillable="true" type="tns:CatalogModelService" />
</xs:schema>